/* setting up headings */
article{
   
    position: relative;
}
 h2.projectHeading {
     color: rgb(0, 0, 0);
    position: absolute;
    top: -26px;
    left: 30px;

}
 
 .anc{
     margin-bottom: -7px ;
} 
 
/* h2.tren{
   position: absolute; 
   top: 695px;
   right: 83px;
} */
article div .card{
    border-radius: 8px;
}