/* setting up headings */
main{
   width: fit-content;
    position: relative;
}
 h2.projectHeading {
     color: rgb(0, 0, 0);
    position: absolute;
    top: -26px;
    left: 30px;

}
 
 .anc{
     margin-bottom: -7px ;
} 
 
/* h2.tren{
   position: absolute; 
   top: 695px;
   right: 83px;
} */
main div .card{
    border-radius: 8px;
}
main div{
    display: block;
    width: fit-content;
}
.projectHeading{
    top: -27px;
    left: 1488px;
}